<!doctype html>
<title> Hand Reconigtion </title>
<html lang="en">

{% if person %}
  <h1>Hello {{ person }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}


<body>
<form action= "{{ url_for('upload') }}" method='POST' enctype="multipart/form-data"> 
    <input type='file' name="file">
    <button type="submit">Upload</button>
    <label for="customUrl">URL:</label>
    <input type="text" id="customUrl" name="url" placeholder="https://example.com">
</form>



{% if result_url %}
  <p> <img src="data:image/jpeg;base64,{{ result_url }}"> </p>
{% endif %}

<img src = "{{url_for('video_feed')}}" width="640" height="480">

<h1> Live Feed </h1>
<pre id="landmarksLive"> None </pre>

<h1> Photo </h1>
<pre> {{handmarksphoto}} </pre>
<pre id="landmarkdetected">N/A</pre>

<script>
let trigg = false
const whereTo = {{ whereTo | tojson }};

async function updateHandMarks() {
  const data = await fetch("/getLandMarks")
  const jsonData = await data.json()
  const isGesture = await fetch("/checkGesture")
  const isGestureData = await isGesture.json()
  document.getElementById('landmarksLive').innerText = JSON.stringify(jsonData,null, 0)
  document.getElementById('landmarkdetected').innerText = JSON.stringify(isGestureData)
  
  if (isGestureData['result'] && !trigg) {
    trigg = true; 
    console.log(whereTo[isGestureData['id']])
    window.open(whereTo[isGestureData['id']], '_blank'); 
    }
  trigg = false
}
setInterval(updateHandMarks, 500)
</script>


</body>

</html>